<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Shazam Blogs</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Shazam Blogs</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/create" class="nav-link">Create Blog</a></li>
            <li class="nav-item"><a href="/browse" class="nav-link">Browse Blogs</a></li>
            <li class="nav-item"><a href="/search" class="nav-link">Search Blog</a></li>
            <li class="nav-item"><a href="/about" class="nav-link active">About</a></li>
          </ul>
        </header>
      
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis">About Shazam Blogs</h1>
            <p class="col-lg-8 mx-auto lead">
              Welcome to Shazam Blogs – a vibrant platform where creativity meets expression. Here, we provide a space for writers, bloggers, and enthusiasts to share their thoughts, experiences, and insights with a global audience.
            </p>
            <h1 class="text-body-emphasis">Our Mission</h1>
            <p class="col-lg-8 mx-auto lead">
              At Shazam Blogs, our mission is simple: to create a community where everyone can voice their ideas and engage with diverse perspectives. We believe in the power of words to inspire, inform, and connect people from all walks of life.
            </p>
          </div>
        </div>
      </div>
</div>


      <%- include("partial/footer.ejs") %>
</body>
</html>



