<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Shazam Blogs</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="d-block mx-auto mb-0" src="Imgs/S.jpg" alt="" width="72" height="57">
            <span class="fs-4">Shazam Blogs</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/create" class="nav-link">Create Blog</a></li>
            <li class="nav-item"><a href="/browse" class="nav-link active">Browse Blogs</a></li>
            <li class="nav-item"><a href="/search" class="nav-link">Search Blog</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          </ul>
        </header>

        <!-- Loop through the blogs and titles, assuming they have a one-to-one relationship -->
        <% for (let i = 0; i < TitleData.length && i < BlogData.length; i++) { %>
          <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
              <div class="container py-5">
                <h1 class="text-body-emphasis"><%= TitleData[i].content %></h1>
                <p class="col-lg-8 mx-auto lead">
                  <%= BlogData[i].content %>
                </p>
              </div>
            </div>
          </div>
          <div class="b-example-divider"></div>
        <% } %>

        <div class="b-example-divider"></div>
      </div>

      <%- include("partial/footer.ejs") %>
</body>
</html>
