<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="d-block mx-auto mb-0" src="Imgs/S.jpg" alt="" width="72" height="57">
            <span class="fs-4">Shazam Blogs</span>
          </a>
          
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/create" class="nav-link">Create Blog</a></li>
            <li class="nav-item"><a href="/browse" class="nav-link">Browse Blogs</a></li>
            <li class="nav-item"><a href="/search" class="nav-link">Search Blog</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
</body>